<h3>Ausgangslage</h3>
<p style="text-align: left">Schreibt man wissenschaftliche Arbeiten oder Artikel für Fachzeitschriften, so benötigt man stets ein Literaturverzeichnis. LaTeX bietet mit dem Paket <tt>biblatex</tt> ein hervorragendes Werkzeug zu dessen Erstellung. Dabei gibt es Betreuervorgaben, Institutsvorgaben, Normen oder Vorgaben der unterschiedlichen Fachpublikationen, wie das Literaturverzeichnis im Einzelfall auszusehen hat. Für meine Ingenieurarbeit hat mein Betreuer folgende Vorgaben gemacht:</p>

<ol>
	<li>knapper numerischer Zitationsstil</li>
	<li>Hervorhebung des Werktitels in geeigneter Weise</li>
	<li>Sortierung des Literaturverzeichnisses nach Reihenfolge der Zitation</li>
	<li>Autoren-, Herausgeber- und Übersetzerangabe als Nachname, Vorname</li>
	<li>durchgehende Angabe der Vornamen als Initialen</li>
	<li>Doppelpunkt nach dem letzten Autoren-, Herausgeber- und Übersetzernamen</li>
	<li>Autorenliste bei mehr als drei Autoren mit „et al.“ abkürzen</li>
</ol>

<p style="text-align: left"><span style="text-align: justify">Die Punkte 1 und 2 werden bereits vom Standardstil </span><tt style="text-align: justify">numeric-comp</tt><span style="text-align: justify"> umgesetzt<!--more-->, vgl. folgende Abbildung. Punkt 3 lässt sich durch die Paketoption </span><tt style="text-align: justify">sorting=none</tt><span style="text-align: justify"> beim Laden des Paketes </span><tt style="text-align: justify">biblatex</tt><span style="text-align: justify"> erreichen. Sucht man über die üblichen Suchmaschinen nach Stilen für </span><tt style="text-align: justify">biblatex</tt><span style="text-align: justify">, so erhält man überwiegend Treffer für das ältere BibTeX-System. Diese beiden Systeme sind jedoch, was die Stildateien angeht, nicht kompatibel. Unter den wenigen passenden Treffern war bei meiner Suche kein Stil, der die obigen Vorgaben vollständig umgesetzt hätte. Dabei hielt ich diese nicht für außergewöhnlich. Aus diesem Grund habe ich beschlossen, mir selbst einen passenden Stil zu bauen. Als Grundlage diente mir der Stil </span><tt style="text-align: justify">numeric-comp</tt><span style="text-align: justify">.</span></p>
<p style="text-align: left"><a href="http://texwelt.de/blog/wp-content/uploads/2014/09/numeric-comp.png"><img class="alignnone size-full wp-image-1209" alt="numeric-comp" src="http://texwelt.de/blog/wp-content/uploads/2014/09/numeric-comp.png" width="1226" height="649" /></a></p>
<p style="text-align: left">Für einzelne Änderungen, die nur in einem Dokument benötigt werden, lohnt sich die Erstellung eines eigenen Stiles nicht. In diesem Fall kann man die Änderung in der Präambel des Dokumentes einfügen. Ein eigener <tt>biblatex</tt>-Stil lohnt sich vor allem, wenn man mehrere Änderungen hat, man diese immer wieder benötigt oder wenn der Bibliografiestil von einer Gruppe von Autoren verwendet werden soll (z. B. alle Studenten eines Betreuers, ein ganzes Institut, alle Autoren bei einer bestimmten Zeitschrift, alle Wissenschaftler in einem Projekt, alle Projekte bei einem Träger usw.).</p>

<h3>Informationsquellen</h3>
<p style="text-align: left">Sucht man im Internet nach Informationen, wie <tt>biblatex</tt>-Stile zu erstellen und modifizieren sind, so erhält man viele über Foren verstreute Informationsschnipsel. Zwei Quellen liefern umfassendere Informationen. Zum einen ist das die hervorragende Paketdokumentation von Philipp Lehman mit Philip Kime, Audrey Boruvka und Joseph Wright. Die jeweils aktuelle englische Version findet man auf CTAN <a href="#lit">[1]</a>. Die lokal mit TeX Live installierte Version kann man auf der Kommandozeile mit dem Befehl <tt>texdoc biblatex</tt> aufrufen. Zu der Frage, wo man die Dokumentation findet, gibt es eine Anwenderfrage mit Antworten auf der Seite der TeXwelt: <a href="http://texwelt.de/wissen/fragen/6725" target="blank">http://texwelt.de/wissen/fragen/6725</a>. Die Dokumentation ist umfassend, weshalb sie ob der vielen Möglichkeiten von <tt>biblatex</tt> sehr umfangreich gehalten ist. Es dauert relativ lange, darin alle nötigen Informationen zu den eigenen Modifikationen zusammenzusuchen. Dennoch sollte sie als offizielle Paketdokumentation im Zweifelsfall die Quelle der Wahl sein.</p>
<p style="text-align: left">Da bei LaTeX, wie so oft im Leben, der Grundsatz <span style="font-variant: small-caps">exemplum docet</span> gilt, ist für ein schnelles Vorankommen beim Bau des eigenen Stils Dominik Waßenhovens Anleitung aus der DANTE-Zeitschrift „Die TeXnische Komödie“ 4/08 <a href="#lit">[2]</a> sehr hilfreich. Der Autor erläutert darin die Vorgehensweise am Beispiel von Anforderungen für eine geisteswissenschaftliche Publikation. Mit gewissen Modifikationen ist der Artikel auf andere Fächer ebenso anwendbar. Die Vorgehensweise bleibt gleich, lediglich die Befehle zur Formatierung unterscheiden sich je nach Anforderungen. Waßenhovens Artikel geht über den vorliegenden dahingehend hinaus, dass auch auf Änderungen in der Darstellung der Werktitel u. ä. eingegangen wird, was mit einem etwas größeren Änderungsaufwand verbunden ist. Teil 1 des Artikels aus Ausgabe 2/08 <a href="#lit">[3]</a> geht auf die Grundlagen der Arbeit mit <tt>biblatex</tt> ein.</p>
<p style="text-align: left">Eine weiteren Einstieg in <tt>biblatex</tt> bietet der Blogartikel „Hilfe zu biblatex“ von Marco Daniel: <a href="http://texwelt.de/blog/hilfe-zu-biblatex" target="blank">http://texwelt.de/blog/hilfe-zu-biblatex.</a></p>

<h3>Lösungsansätze</h3>
<p style="text-align: left">Ein Bibliografie-Stil für <tt>biblatex</tt> besteht aus zwei ASCII-Dateien. Die <tt>*.cbx</tt>-Datei ist für das Erscheinungsbild der Zitate im Text verantwortlich. In der Datei <tt>*.bbx</tt> wird die Formatierung der Quellenangaben im Literaturverzeichnis festgelegt. Man spart sehr viel Arbeit, wenn man einen eigenen Stil nicht von Null an neu schreibt, sondern von einem den eigenen Wünschen oder Vorgaben ähnlichen vorhandenen Stil ausgeht und diesen ändert. Neben den mitgelieferten Standardstilen gibt es eine Reihe spezieller Stile unter <a href="http://ctan.org/topic/biblatex" target="blank">http://ctan.org/topic/biblatex</a>, wo man nach einem den eigenen Wünschen ähnlichen Stil suchen kann. Für den Umgang mit Änderungen gibt es die nachfolgend erläuterten unterschiedlichen Philosophien.</p>

<h4>Den generischen Stil kopieren und ändern</h4>
<p style="text-align: left">Man kopiert den Inhalt der generischen Stildateien in eigene Dateien und ändert <tt>\ProvidesFile{stilname.cbx}</tt> bzw. <tt>\ProvidesFile{stilname.bbx}</tt> auf den gewünschten Namen, welchen man seinen neuen Dateien gegeben hat. Dann beginnt man, die Definitionen den eigenen Wünschen anzupassen.</p>
<p style="text-align: left">Dieses Vorgehen ist von Vorteil, wenn man nicht wünscht, dass Änderungen am generischen Stil in den Eigenen vererbt werden und wenn man sehr viel ändern möchte. Ein Nachteil ist, dass man sehr große und unübersichtliche Stildateien erhält bzw. die eigenen Änderungen für Dritte schwerer nachvollziehbar sind.</p>

<h4>Den generischen Stil laden und nötiges umdefinieren</h4>
<p style="text-align: left">Man legt neue Stildateien mit dem gewünschten Namen an, lädt mit <tt>\RequireCitationStyle{generischer-stil}</tt> bzw. <tt>\RequireBibliographyStyle{generischer-stil}</tt> einen generischen Stil und definiert dann das um, was man ändern möchte. Man erhält dabei, vor allem bei wenigen Änderungen, sehr übersichtliche Stildateien. Ein möglicher Nachteil ist die Vererbung von Änderungen am generischen Stil in den eigenen Stil.</p>
<p style="text-align: left">Diese Vorgehensweise wurde auf Grund der wenigen nötigen Änderungen für das Erstellen des Stils <tt>iest</tt> gewählt. Der name <tt>iest</tt> ist die Abkürzung für Institut für Eisen- und Stahltechnologie. An diesem Institut der TU Bergakademie Freiberg schreibe ich meine Arbeiten. Es handelt sich um einen Arbeitstitel, welcher, wie so oft, nicht mehr geändert wurde.</p>

<h3>Befehle und ihre Bedeutung</h3>
<h4>Die Datei <tt>iest.cbx</tt></h4>
[cce lang="latex"]\ProvidesFile{iest.cbx}[/cce]
Bekanntmachen der Stildatei für die Zitation.

[cce lang="latex"]\RequireCitationStyle{numeric-comp}[/cce]
Laden des generischen Zitationsstils; hier handelt es sich um den Standardstil <tt>numeric-comp</tt>.

[cce lang="latex"]\endinput[/cce]
Ende der Stildatei.
<h4>Die Datei <tt>iest.bbx</tt></h4>
[cce lang="latex"]\ProvidesFile{iest.bbx}[/cce]
Bekanntmachen der Stildatei für die Quellenangaben.

[cce lang="latex"]\RequireBibliographyStyle{numeric-comp}[/cce]
Laden des generischen Bibliografiestils; hier handelt es sich um den Standardstil <tt>numeric-comp</tt>.
<p style="text-align: left">[cce lang="latex"]\DeclareNameFormat{tubafshort}{}[/cce]
Definieren eines neuen Namensformates mit dem Namen <tt>tubafshort</tt>. Der zweite Parameter enthält die Befehle zur Formatierung in Form der folgenden beiden Makros. Die Abkürzung <tt>tubaf</tt> im Namen <tt>tubafshort</tt> bedeutet TU Bergakademie Freiberg; <tt>short</tt> steht selbstverständlich für kurz. Es handelt sich wiederum um einen Arbeitstitel, welcher auf den Ort der Entstehung verweisen soll und der erhalten blieb.</p>
<p style="text-align: left">[cce lang="latex"]\usebibmacro{name:last-first}{#1}{#4}{#5}{#7}[/cce]
Das Makro <tt>name:last-first</tt> gibt Namen in der Form „Nachname, Vorname“ zurück. Die weiteren Parameter dienen zur Formatierung der Namensangabe. Dabei sind die Variablen wie folgt belegt:</p>
#1 Nachname
#2 Nachname (Initialen)
#3 Vorname
#4 Vorname (Initialen)
#5 Präfix (z.B. „von“)
#6 Präfix (Initialen)
#7 Affix (z.B. „Junior“)
#8 Affix (Initialen)
<p style="text-align: left">Folglich gibt das Makro im obigen Fall den vollen Nachnamen, die Initialen des Vornamens sowie vollständigen Präfix und Affix zurück.</p>
<p style="text-align: left">[cce lang="latex"]\usebibmacro{name:andothers}[/cce]
Bei mehreren Namen einer Namensart kürzt dieses Makro nach einer bestimmten Anzahl, standardmäßig drei Namen, die Namensliste mit „u. a.“ ab.</p>
<p style="text-align: left">[cce lang="latex"]\DeclareNameAlias{author}{tubafshort}
\DeclareNameAlias{editor}{tubafshort}
\DeclareNameAlias{translator}{tubafshort}[/cce]
Das neu definierte Namensformat <tt>tubafshort</tt> wird für die Namensarten Autor (<tt>author</tt>), Herausgeber (<tt>editor</tt>) und Übersetzer (<tt>translator</tt>) gewählt.</p>
<p style="text-align: left">[cce lang="latex"]\renewcommand*{\labelnamepunct}{\addcolon\addspace}[/cce]
<tt>\labelnamepunct</tt> enthält die Zeichenfolge, mit der die Namensangabe im Literaturverzeichnis abgeschlossen wird. Bei <tt>numeric-comp</tt> ist das standardmäßig ein Punkt und ein Leerzeichen. Hier wird die Variable mit einem Doppelpunkt (<tt>\addcolon</tt>) und einem Leerzeichen (<tt>\addspace</tt>) neu belegt.</p>
[cce lang="latex"]\DefineBibliographyStrings{ngerman}{andothers={et\addabbrvspace al\adddot}}[/cce]
Der in numeric-comp mit „u. a.“ belegte String für die Abkürzung bei mehreren Autoren
wird mit „et al.“ neu belegt.

[cce lang="latex"]\endinput[/cce]
Ende der Stildatei.
<h3>Ergebnis</h3>
<h4>Die Datei <tt>iest.cbx</tt></h4>
<p style="text-align: left">Beim Stil <tt>iest</tt> gibt es gegenüber <tt>numeric-comp</tt> keine Änderungen, was den Zitationsstil angeht. Dennoch ist es von Vorteil, eine <tt>*.cbx</tt>-Datei anzulegen. Dadurch kann der Stil durch die Paketoption <tt>style=iest</tt> eingebunden werden, es ist keine getrennte Angabe von <tt>bibstyle</tt> und <tt>citestyle</tt> notwendig. Die Option, bspw. den ausführlicheren Zitationsstil über <tt>citestyle=numeric</tt> zu laden bleibt davon unberührt. Während in <tt>numeric-comp</tt> und damit auch in <tt>iest</tt> aufeinanderfolgende Quellennummern (1,2,3) in der Form 1-3 abgekürzt werden, listet <tt>numeric</tt> die Quellen vollständig auf. Die Kommentarzeilen (beginnend mit %) werden von LaTeX nicht interpretiert. Sie dienen dazu, Informationen über die Dateien an Anwender oder andere Entwickler weiterzugeben.</p>
[cce lang="latex"]

% E. Frank Sandig, TU Bergakademie Freiberg
% schriftsatz@sandig-fg.de
% http://github.com/Ekkehardt
% Dummy-File, bislang keine Änderungenen gegenüber numeric-comp, 04.11.2014
\ProvidesFile{iest.cbx}
\RequireCitationStyle{numeric-comp}
\endinput

[/cce]

&nbsp;
<h4>Die Datei <tt>iest.bbx</tt></h4>
[cce lang="latex"]
% E. Frank Sandig, TU Bergakademie Freiberg
% schriftsatz@sandig-fg.de
% http://github.com/Ekkehardt

\ProvidesFile{iest.bbx}
\RequireBibliographyStyle{numeric-comp}

% BEGINN Anpassung Namensformat für IEST 04.11.2014
% Namensformat: Nachname, V.
\DeclareNameFormat{tubafshort}{%
\usebibmacro{name:last-first}{#1}{#4}{#5}{#7}%
\usebibmacro{name:andothers}}

% neues Namensformat für alle Namen wählen
\DeclareNameAlias{author}{tubafshort}
\DeclareNameAlias{editor}{tubafshort}
\DeclareNameAlias{translator}{tubafshort}

% Namensfelder mit Doppelpunkt abschließen
\renewcommand*{\labelnamepunct}{\addcolon\addspace}

% mehrere Autoren mit ’et al.’ abkürzen
\DefineBibliographyStrings{ngerman}{andothers={et\addabbrvspace al\adddot}}

% ENDE der Anpassungen

\endinput

[/cce]

&nbsp;
<h3>Beispiel</h3>
<h4>Der Quelltext des Beispiels</h4>
[cce lang="latex"]

\documentclass[12pt,a4paper]{scrartcl}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}
\usepackage[T1]{fontenc}
\title{Beispiel zum Bib\LaTeX-Stil \glqq iest\grqq}
\usepackage[style=iest,backend=biber,sorting=none]{biblatex}
\addbibresource{quellen-iest.bib}

\begin{document}
Heute zitieren wir nur drei Werke. Zum einen ein Nachschlagewerk von
vier Autoren \autocite{Binomi2004}. Zum anderen ein Lehrbuch der
Werkstoffkunde \autocite{Bargel2012}. Unsere dritte und letzte Quelle
ist ein Zeitschriftenartikel \autocite{Detert1963}. Man kann auch
alle Quellen gemeinsam zitieren, was hier verkürzt dargestellt wird:
\autocite{Bargel2012,Binomi2004,Detert1963}.

\printbibliography

\end{document}

[/cce]

&nbsp;
<h4>Die Literaturdatenbank</h4>
[cce lang="bibtex"]

@Book{Binomi2004,
Title = {Formeln und Hilfen zur Höheren Mathematik},
Author = {Gerhard Merziger and Günter Mühlbach and Detlef Wille and Thomas Wirth},
Publisher = {Binomi Verlag Springe},
Year = {2004},
Edition = {4},
Note = {ISBN 3-923923-35-X},
}

@Book{Bargel2012,
Title = {Werkstoffkunde},
Editor = {Hans-Jürgen Bargel and Günter Schulze},
Publisher = {Springer-Verlag, Berlin/Heidelberg},
Year = {2012},
Edition = {11., bearb. Aufl.},
Note = {ISBN 978-3-642-17717-0},
Pages = {453 S.},
Url = {http://swbplus.bsz-bw.de/bsz282703705cov.htm}
}

@Article{Detert1963,
Title = {Einfluss einer Austenitverformung vor der Martensitumwandlungin niedrig legierten Baustählen},
Author = {Klaus Detert and Christoph Schmidt-Krayer},
Journal = {Stahl und Eisen},
Year = {1963},
Pages = {449-457},
Volume = {83},
}

[/cce]

&nbsp;
<h4>Das fertig compilierte Beispiel</h4>
<a href="http://texwelt.de/blog/wp-content/uploads/2014/09/iest.png"><img class="alignnone size-full wp-image-1208" alt="iest" src="http://texwelt.de/blog/wp-content/uploads/2014/09/iest.png" width="1215" height="639" /></a>
<h3>Bezug und Installation des Stils iest</h3>

<p style="text-align: left">Den aktuellen Stand des Stils iest findet man stets auf github: <a href="https://github.com/Ekkehardt/biblatex-iest" target="blank">https://github.com/Ekkehardt/biblatex-iest</a>. Zur Problemstellung, wo eigene Makros u. ä. zu speichern sind, gibt es eine Frage auf der TeXwelt: <a href="http://texwelt.de/wissen/fragen/3528" target="blank">http://texwelt.de/wissen/fragen/3528</a>.</p>

Die Installation für den aktuell angemeldeten Benutzer in Tex Live unter Windows, Linux und MacOS besteht aus dem folgenden Schritt:
<ol>
	<li>Kopieren der Dateien <tt>iest.cbx und iest.bbx </tt> nach <tt>~/texmf/tex/latex/biblatex-iest</tt></li>
</ol>
In MacTeX unter MacOS läuft die Installation des Stils wie folgt ab:
<ol>
	<li>Kopieren der Datei <tt>iest.cbx und iest.bbx</tt> nach <tt>~/Library/texmf/tex/latex/biblatex-iest</tt></li>
</ol>
In MikTeX unter Windows gilt folgende Vorgehensweise:
<ol>
	<li>Anlegen eines privaten Baumes, z. B. unter ~/texmf (muss außerhalb des Verzeichnisses der MikTeX-Installation liegen)</li>
	<li>Kopieren der Datei <tt>iest.cbx</tt> und <tt>iest.bbx</tt> nach ~/texmf/tex/latex/biblatex-iest</li>
	<li>Registrieren des privaten Baumes als „Root“
<ol>
	<li>MikTeX Settings starten</li>
	<li>Reiter „Roots“</li>
	<li>Schaltfläche „Add..“</li>
	<li>obigen Ordner auswählen</li>
	<li>ggf. Suchreihenfolge anpassen</li>
	<li>Schaltfläche „Übernehmen“</li>
</ol>

In allen Fällen ist <tt>~/</tt> das Heimatverzeichnis des aktuell angemeldeten Benutzers.
<h3>Support</h3>
<p style="text-align: left">Für Rückfragen steht die E-Mail-Adresse <a href="mailto:schriftsatz@sandig-fg.de">schriftsatz@sandig-fg.de</a> zur Verfügung. Fehlermeldungen, Problemberichte, Verbesserungsvorschläge u. ä. können über den Issue-Tracker unter <a href="https://github.com/Ekkehardt" target="blank">https://github.com/Ekkehardt</a> eingereicht werden.</p>

<h3 id="lit">Literatur</h3>
[1] Lehman, P. et al.: The Biblatex Package. Version 2.9a. Paketdokumentation. CTAN, Juni 2014. url: <a href="http://ctan.mirrorcatalogs.com/macros/latex/contrib/biblatex/doc/biblatex.pdf" target="blank">http://ctan.mirrorcatalogs.com/macros/latex/contrib/biblatex/doc/biblatex.pdf</a>.

[2] Waßenhoven, D.: „Bibliographien erstellen mit biblatex - Teil 2“. In: Die TeXnische Komödie 4 (2008). Zeitschrift der DANTE e.V., S. 31–51. url: <a href="http://www.dante.de/DTK/Ausgaben/dtk08-4.pdf" target="blank">http://www.dante.de/DTK/Ausgaben/dtk08-4.pdf</a>.

[3] Waßenhoven, D.: „Bibliographien erstellen mit biblatex - Teil 1“. In: Die TeXnische Komödie 2 (Mai 2008). Zeitschrift der DANTE e.V., S. 53–74. url: <a href="http://www.dante.de/DTK/Ausgaben/2008-2.pdf">http://www.dante.de/DTK/Ausgaben/2008-2.pdf</a>.

Die stets aktuelle und druckoptimierte PDF-Version dieses Artikels findet man nebst LaTeX-Quelltext unter <a href="https://github.com/Ekkehardt/dok-biblatex-iest" target="blank">https://github.com/Ekkehardt/dok-biblatex-iest</a>